
html{
    position: relative;
    width: 100%;
    height: auto;
    
}

#vid{
    position: absolute;
    width: 300%;
    left: 0;
    z-index: -1;
    height: auto;
}


#int{
    margin-top: 400px;
    padding-bottom: 450px;
    
}

#int h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 200;
}

#int input{
    background: transparent;
    color: white;
    border-width: 2px;
}

#drops{
    position: absolute;
    margin-top: 0px;
    
}

#ss{
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#ss h3{
    color: black;
    font-weight: bold;
}

#s3{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    flex-grow: 0;
    width: 440px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#s3 p{
    text-align: center;
    
    color: black;
}

#s4{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

#s4 p{
    color: black;
}

@media screen and (max-width: 440px){
    #vid{
        display: none;
        
    }
    #ss{
        margin: 10px;
    }

    #ss p{
        font-size: 10px;
    }

    #int{
        margin-top: 200px;
        display: flex;
        width: 100%;
        flex: 0;
        padding: 40px;
    }

    #int input{
        display: flex;
        flex: 0;
        margin-left: 20px;
        margin-right: 10px;
        width: 100%;
        height: auto;
        max-width: 400px;
       
    }

 
}

@media screen and (max-width: 768px){
    #vid{
        display: none;
    }
    #int{
        padding: 0;
        margin-top: 100px;
        margin-bottom: 50px;
    }
}